@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="FrontPage">
<div class="text-center" id="FrontPageTitle">
    <br />
    <h2 class="display-4"><strong>Welcome to GUNPLAradise!</strong></h2>
    <br />
    <a href="Featured">
    <img src="uploads/desktopReleases.png" id="FrontPageImage" width="800" class="img-fluid" />
    </a>
</div>

<div class="text-center" id="FrontPageTitle">
    <br />
	<h2 class="display-4"><strong>Our Gunpla</strong></h2>
    <br />
    </div>

<div class="index_container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 text-center">
            <div class="highGrade">
                <a href="./HighGrade">
                    <img src="/uploads/HG.png" class="frontPageImage" />
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <div class="realGrade">
                <a href="./RealGrade">
                    <img src="/uploads/RG.png" class="frontPageImage" />
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <div class="masterGrade">
                <a href="./MasterGrade">
                    <img src="/uploads/MG.png" class="frontPageImage" />
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 text-center">
            <div class="perfectGrade">
                <a href="./PerfectGrade">
                    <img src="/uploads/PG.png" class="frontPageImage" />
                </a>
            </div>
        </div>
    </div>
</div>
</div>
