@page
@model GunplaridiseSite.Pages.MasterGradeModel
@{
    var masterGradeGunpla = Model.Gunpla.Where(g => g.Grade.GradeName == "Master Grade (MG)").ToList();
}

<h1>Master Grade Gunpla</h1>

<div class="index_container">
    <div class="row">
        @foreach (var item in masterGradeGunpla)
        {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="index_card center-bottom">
                    <a href="./Details?id=@item.GunplaId">
                        <img src="/uploads/@item.ImageFilename" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <h6 class="card-title">@item.GunplaName</h6>
                    </div>
                    <div class="card-footer">
                        <p>Price: @item.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>